*  {
	margin: 0
    padding: 0;
	}

body {
background-image: url( background.jpg ) ; 
}

ul.list li {
	display: inline-block;
    margin: 10%;
    padding: 0%;
	color: white;
	width: content; 
	
}

